
/**
 * Typography
 * Roughly a Le Corbusier scale: 11, 14, 19, 30
 * http://lamb.cc/typograph/
 */
$base-font-family:        unquote('Segoe UI, Segoe, Tahoma, Geneva, Liberation Sans, FreeSans, sans-serif');
$base-font-size:          14px;
$base-line-height:        1.5; // 21px

$decor-font-family:       unquote('Sketchetik-Bold, Helvetica, Arial, Liberation Sans, FreeSans, sans-serif');

$small-font-size:         0.8462em; // ~11px
$large-font-size:         1.3571em; // ~19px
$xlarge-font-size:        2.1428em; // ~30px
$xxlarge-font-size:       2.6429em; // ~37px
$xxxlarge-font-size:      3.4286em; // ~48px

/**
 * Colors
 */
$bg-color:                #fff;
$bg-tint:                 #eaeaeb;
$text-color:              #444;
$mute-color:              lighten( $text-color, 20% );
$line-color:              darken( $bg-tint, 5% );

$decor-color:             #cc071e;
$decor-contrast-color:    white;

$message-color:           #ffffb2;

$link-color:              #fe5000;
$link-hover-color:        $decor-color;
$link-active-color:       $link-hover-color;
$link-visited-color:      $link-color;
$link-focus-color:        $link-active-color;
$link-contrast-color:     white;

/**
 * Measurements
 */
$base-hmargin:            21px;
$base-vmargin:            21px;

$base-maxwidth:           1218px;
$base-minwidth:           728px;

$mobile-maxwidth:         460px;
$mobile-minwidth:         300px;

$sidebar-width:           percentage( $mobile-maxwidth / $base-maxwidth ); // Sidebars are relative in size by default, and 100% on mobile layouts
$sidebar-home2-width:     50%;

/**
 * Compass defaults
 */
$default-transition-duration:     .5s;
$default-border-radius:           2px;

