
/**
 * Pixel ratio adjustments
 */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #header {
    .site-title {
      @include background-size( auto 100% );
      background-image: image-url( 'rvblogo-2x.png' );
    }
  }
  #access {
    li {
      &.menu-item-type-home {
        a {
          @include background-size( auto 50% );
          @include replace-text-with-dimensions( 'primary-menu-home-icon-2x.png' );
        }
      }
      &.menu-item-type-search {
        a {
          @include background-size( auto 50% );
          @include replace-text-with-dimensions( 'primary-menu-search-icon-2x.png' );
        }
      }
    }
  }
}


/**
 * Size adjustments
 */

/* Devices up to 740px get the mobile layout */
@media screen and ( max-width: 740px ) {

  // Main layout boundaries
  body {
    padding: 0;
  }
  #container {
    margin: 0 auto;
    max-width: $mobile-maxwidth;
    min-width: $mobile-minwidth;
  }

  // Header and main navigation
  #header {
    .site-title {
      float: none;
      margin-left: auto !important; // use important to override html classes
      margin-right: auto;
    }
  }
  #sidebar-header {
    border-top: 1px solid darken( $bg-tint, 5% );
    float: none;
    margin-right: 0;
    padding: $base-vmargin $base-hmargin;
    html.cssgradients & {
      @include background-image( linear-gradient( top, $bg-tint, $bg-color ) );
    }
    // Hide the meta sidebar if js is enabled
    html.js & {
      display: none;
      visibility: hidden;
      &.js-visible {
        display: inherit;
        visibility: visible;
      }
    }
  }
  #access {
    li {
      // hide all but the home link and the active menu item
      display: none;
      visibility: hidden;
      &.current-menu-item,
      &.menu-item-type-home {
        display: inherit;
        visibility: visible;
      }
      // Show the static search menu if js is enabled
      &.menu-item-type-search {
        float: right;
        html.js & {
          display: inherit;
          visibility: visible;
        }
      }
    }
    a {
      display: block;
      padding: $base-vmargin $base-hmargin;
    }
  }

  // Main content
  #primary {
    float: none;
    width: auto;
  }

  // Asides and child navigation
  #main .sidebar {
    float: none;
    padding: 0;
    width: auto;
    .nav {
      padding: 0;
      text-align: center;
      a {
        display: block;
        padding: $base-vmargin $base-hmargin;
      }
    }
  }
  #sidebar-main.sidebar {
    clear: none;
  }

  // Forms
  input, label {
    display: block;
    width: 100%;
  }

} // max-width: 740px
