
/**
 * Pixel ratio adjustments
 */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #header {
    .site-title {
      @include background-size( auto 100% );
      background-image: image-url( 'rvblogo-2x.png' );
    }
  }
}


/**
 * Size adjustments
 */

/* Mobile devices less than 749px wide get the mobile layout */
@media screen and ( max-width: 748px ) {

  // Main layout boundaries
  body {
    padding: 0;
  }
  #container {
    margin: 0 auto;
    max-width: $mobile-maxwidth;
    min-width: $mobile-minwidth;
  }

  // Main content
  #main {
    input, textarea {
      @include box-sizing( border-box );
      display: block;
      width: 100%;
      padding-left: $base-hmargin;
      padding-right: $base-hmargin;
    }
  }

} // max-width: 748px