
/**
 * Main styles
 */
html {
  background-color: $bg-tint;
  color: $text-color;
}
body {
  font: #{$base-font-size}/#{$base-line-height} $base-font-family;
  padding: 0 $base-hmargin;
  html.cssgradients & {
    @include background-image( linear-gradient( top, $bg-color, $bg-tint ));
    background-position: static;
  }
}
a {
  @include link-colors( $link-color, $link-hover-color, $link-active-color, $link-visited-color, $link-focus-color );
  @include single-transition( color );
  text-decoration: none;
}

/**
 * Main layout containers
 * Sizes inpired by http://978.gs
 */
#container {
  @include border-radius;
  @include box-sizing( border-box );
  @include clearfix; // clear floated columns
  background: $bg-color;
  border-bottom: 1px solid darken( $bg-tint, 5% );
  margin: 0 auto 3 * $base-hmargin auto;
  max-width: $base-maxwidth;
  min-width: $base-minwidth;
  padding: $base-vmargin $base-hmargin;
  html.lt-ie7 & {
    width: 978px; // fixed size in IE<7
  }
}

/**
 * Header and main navigation
 */
#header {
  .site-title {
    @include replace-linked-text( 'rvblogo.png' );
    float: left;
    margin-bottom: $base-vmargin;
    margin-left: 1px; // visual adjustment
  }
  #searchform {
    float: right;
    margin-top: $base-vmargin;
  }
}
#access {
  @include border-radius;
  background: $decor-color;
  color: $decor-contrast-color;
  clear: both;
  .menu {
    @include clearfix;
    .menu-item {
      @include inline-block;
      float: left;
      a {
        @include single-transition( background-color );
        @include unstyled-link;
        display: block;
        padding: .5 * $base-vmargin $base-hmargin;
        &:hover {
          background-color: $link-color;
        }
      }
      &.current-menu-item,
      &.current-page-ancestor {
        font-weight: bold;
        a {
          background: image-url( 'nav-indicator.png' ) top center no-repeat;
          &:hover {
            background-color: $link-color;
          }
        }
      }
      &.menu-item-type-search {
        display: none;
        visibility: hidden;
      }
    }
  }
  html.cssgradients & {
    @include background-image( linear-gradient( top, lighten( $decor-color, 2% ), darken( $decor-color, 2% ) ));
    border-bottom: 1px solid darken( $decor-color, 8% );
  }
  html.textshadow & {
    @include single-text-shadow( darken( $decor-color, 8% ), 0, 1px, 1px );
  }
}

/**
 * Main content
 */
#main {
  @include box-sizing( border-box );
  float: left;
  padding: 2 * $base-vmargin 0;
  width: 99.9% - $sidebar-width; // not 100% to avoid rounding errors
}
// Posts and pages
#main .hentry {
  border: 0;
  @include border-image( linear-gradient( left, $bg-color,$mute-color, $bg-color ) );
  border-bottom: 1px solid;
  margin-bottom: $base-vmargin;
  .entry-content,
  .entry-footer,
  .entry-header {
    margin: 0 $base-hmargin;
  }
  .entry-header {
    .post-thumbnail {
      margin-bottom: $base-vmargin;
      img {
        @include border-radius;
        height: auto;
        max-width: 100%;
      }
    }
  }
  .entry-title {
    font-size: $large-font-size;
    line-height: 1.2;
    a {
      @include unstyled-link;
    }
    body.singular & {
      font-size: $xlarge-font-size;
      line-height: 1.2;
    }
  }
  .entry-footer {
    .pub-info {
      color: $mute-color;
      font-size: $small-font-size;
      a {
        @include unstyled-link;
      }
      .by-author {
        @include hidden;
      }
    }
    .cat-link {
      @include button-link( invert );
    }
    .cat-links {
      @include inline-block;
      margin-top: 0;
      a {
        @extend .cat-link;
      }
    }
    .tag-link {
      @include button-link;
    }
    .tag-links {
      @include inline-block;
      margin-top: 0;
      a {
        @extend .tag-link;
      }
    }
  }
}

/**
 * Comments
 */
#comments {
  margin: $base-vmargin $base-hmargin;
  .comments-title {
    font-size: $large-font-size;
  }
  .commentlist {
    @include unstyled-list;
    border: 0;
    @include border-image( linear-gradient( left, $bg-color,$mute-color, $bg-color ) );
    border-bottom: 1px solid;
    margin-bottom: $base-vmargin;
    .comment {
      margin: $base-vmargin 0;
      .comment-meta {
        font-size: $small-font-size;
        a {
          @include unstyled-link;
        }
        .avatar {
          @include border-radius;
          float: left;
          margin-right: $base-hmargin;
        }
      }
      .comment-edit-link,
      .comment-reply-link {
        @include button-link;
      }
    }
  }
}
#respond {
  input {
    display: block;
  }
  .form-allowed-tags {
    @include hidden;
  }
  .comment-form-comment {
    label {
      @include hidden;
    }
  }
  #reply-title {
    font-size: $large-font-size;
  }
}

/**
 * Complementary content
 */
#complementary {
  @include box-sizing( border-box );
  float: right;
  padding: 2 * $base-vmargin 0;
  width: $sidebar-width;
  .sidebar {
    margin-left: $base-hmargin;
  }
}

/**
 * Footer
 */
#footer {
  background: $decor-color;
  color: $decor-contrast-color;
  clear: both;
  a {
    @include hover-link;
    @include unstyled-link;
  }
}
