
/**
 * Wordpress generated styles
 */

#main {
  .alignleft {
    float: left;
    margin: .5em $base-hmargin .5em 0;
  }
  .alignright {
    float: right;
    margin: .5em 0 .5em $base-hmargin;
  }
}