

.alarms-list {
  @include unstyled-list;
  margin: $base-vmargin $base-hmargin;
  .alarm-title {
    font-weight: bold;
    .alarm-type {
      color: $text-color;
    }
  }
  .alarm-information {
    color: $mute-color;
    font-size: $small-font-size;
  }
  .alarm-maplink {
    color: $text-color;
  }
  .sep {
    color: $mute-color;
    padding-left: .5em;
    padding-right: .5em;
  }
}

#main .hentry.type-alarm {
  .alarm-number {
    color: $mute-color;
    display: block;
    font-size: $large-font-size;
    margin: 0;
    padding: 0 $base-hmargin;
    &:after {
      content: ' ›';
    }
  }
  .alarm-type {
    display: block;
    font-size: $xlarge-font-size;
    margin: 0;
    padding: 0 $base-hmargin;
  }
}