
/**
 * Main form styles
 */
input[type='color'], input[type='date'], input[type='datetime'], input[type='datetime-local'], input[type='email'], input[type='month'], input[type='number'], input[type='range'], input[type='search'], input[type='tel'], input[type='text'], input[type='time'], input[type='url'], input[type='week'], textarea {
  @include border-radius( .25em );
  @include box-sizing( border-box );
  background-color: white;
  border: 1px solid $line-color;
  margin: .25em auto;
  padding: .5em;
}
input[type='button'], input[type='reset'], input[type='submit'] {
  @include border-radius( .25em );
  @include box-sizing( border-box );
  background-color: $bg-color;
  border: 1px solid $line-color;
  color: $text-color;
  margin: .25em auto;
  padding: .5em;
  html.cssgradients & {
    @include background-image( linear-gradient( top, lighten( $bg-color, 5% ), darken( $bg-color, 5% ) ) );
  }
}
label {
  margin: .25em auto;
}

