
/**
 * People listing
 */
#people {
  @include unstyled-list;
  .user {
    @include border-radius;
    @include box-sizing( border-box );
    background-color: mix( $bg-color, $line-color );
    border: 1px solid $line-color;
    float: left;
    margin: .5 * $base-vmargin 3% .5 * $base-vmargin 0;
    padding: .5 * $base-vmargin .5 * $base-hmargin;
    width: 30%;
    .avatar {
      @include border-radius;
      height: auto;
      width: 100%;
    }
    .display_name {
      display: block;
      font-weight: bold;
      margin-top: .25 * $base-vmargin;
    }
    &:nth-child(3n+1) {
      clear: left;
    }
  }
}