/**
 * <ul class="stationmap">
 *  <li class="station karlshamn"><a href="#">Karlshamn</a></li>
 *  <li class="station kyrkhult"><a href="#">Kyrkhult</a></li>
 *  <li class="station mjallby"><a href="#">Mjällby</a></li>
 *  <li class="station olofstrom"><a href="#">Olofström</a></li>
 *  <li class="station svangsta"><a href="#">Svängsta</a></li>
 *  <li class="station solvesborg"><a href="#">Sölvesborg</a></li>
 * </ul>
 */

$debug-colors: false;

#rvb-stationmap {
  position: relative;
  img {
    @include border-radius;
    height: auto;
    max-width: 100%;
  }
  .station {
    @include hide-text;
    position: absolute;
    &.karlshamn {
      @if $debug-colors {
        background: rgba( red, .2 );
      }
      left: 28%;
      top: 55%;
      width: 20%;
      height: 12%;
    }
    &.kyrkhult {
      @if $debug-colors {
        background: rgba( teal, .2 );
      }
      left: 11%;
      top: 10%;
      width: 16%;
      height: 11%;
    }
    &.mjallby {
      @if $debug-colors {
        background: rgba( blue, .2 );
      }
      left: 27%;
      top: 83%;
      width: 14%;
      height: 12%;
    }
    &.olofstrom {
      @if $debug-colors {
        background: rgba( purple, .2 );
      }
      left: 10%;
      top: 29%;
      width: 20%;
      height: 12%;
    }
    &.svangsta {
      @if $debug-colors {
        background: rgba( green, .2 );
      }
      left: 34%;
      top: 40%;
      width: 21%;
      height: 8%;
    }
    &.solvesborg {
      @if $debug-colors {
        background: rgba( navy, .2 );
      }
      left: 11%;
      top: 76%;
      width: 17%;
      height: 12%;
    }
  }
}