
.user {
  float: left;
  margin-bottom: $base-vmargin;
  margin-right: 3%;
  width: 30%;
  .avatar {
    @include box-sizing( border-box );
    @include border-radius;
    border: 1px solid $line-color;
    height: auto;
    width: 100%;
  }
  .name,
  .position,
  .email {
    display: block
  }
  .name {
    font-weight: bold;
  }
  .email, .phone {
    font-size: $small-font-size;
    overflow: hidden;
  }
}