

/**
 * Main widget styles
 */
.widget {
  margin-bottom: $base-vmargin;
  .widget-title {
    font-weight: bold;
  }
}
@mixin box-widget( $_theme-color: $line-color, $_text-color: false ) {
  @include border-radius;
  border: 1px solid $_theme-color;
  border-top: none;
  .widget-title {
    @if ( $_text-color ) {
      color: $_text-color;
    }
    background: $_theme-color;
    padding: .25 * $base-vmargin $base-hmargin;
    position: relative;
    &:after {
      content: image-url('widget-title-indicator.png');
      height: image-height('widget-title-indicator.png');
      line-height: image-height('widget-title-indicator.png');
      position: absolute;
      right: $base-hmargin;
      top: 0;
      width: image-width('widget-title-indicator.png');
    }
  }
}

/**
 * Text widget
 */
.widget.widget_text {
  @include box-widget;
  .textwidget {
    padding: .5 * $base-vmargin $base-hmargin;
  }
}

/**
 * Ultimate Tag Cloud Widget
 */
.widget.widget_utcw {
  .widget-title {
    @include hidden;
  }
  .widget_tag_cloud {
    text-align: center;
    a {
      @include unstyled-hover-link;
    }
  }
}

/**
 * Image Widget
 */
.widget_sp_image {
  @include box-widget;
  a {
    @include unstyled-link;
    &:focus,
    &:hover {
      font-color: $link-color;
    }
  }
  p {
    margin: 0;
  }
  img {
    height: auto;
    width: 100%;
  }
  .widget_sp_image-description {
    padding: .5 * $base-vmargin $base-hmargin;
  }
}

/**
 * RVB Recent Alarms Widget
 */
.widget.widget_rvb_recentalarms_widget {
  @include box-widget( $decor-color, white );
  .alarms-list {
    @include unstyled-list;
    margin: $base-vmargin $base-hmargin;
    .alarm-title {
      font-weight: bold;
      .alarm-type {
        color: $text-color;
      }
    }
    .alarm-information {
      color: $mute-color;
      font-size: $small-font-size;
    }
    .alarm-maplink {
      color: $text-color;
    }
    .sep {
      color: $mute-color;
      padding-left: .5em;
      padding-right: .5em;
    }
  }
}

/**
 * RVB EO Agenda Widget
 */
.widget.widget_rvb_eoagenda_widget {
  @include box-widget;
  .events-list {
    @include unstyled-list;
    margin: $base-vmargin $base-hmargin;
    a {
      @include unstyled-hover-link;
    }
    .eo-event-title {
      font-weight: bold;
    }
    .sep {
      color: $mute-color;
      padding-left: .5em;
      padding-right: .5em;
    }
  }
  .archive-link {
    display: block;
    padding: 0 $base-hmargin $base-vmargin $base-hmargin;
  }
}

/**
 * SYNACK TinyLetter Widget
 */
.widget.widget_tinyletter {
  @include box-widget;
  .widget-content {
    padding: .5 * $base-vmargin $base-hmargin;
    label {
      display: block;
      font-weight: bold;
    }
    input[type='email'],
    input[type='text'] {
      display: block;
      width: 100%;
    }
  }
}

